.hero {
  position: relative;
  padding-bottom: 8.8rem;
  overflow-x: clip;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__images {
    height: 100vw;
    margin-bottom: 1rem;
  }
  &__mockup {
    position: absolute;
    top: -15.9vw;
    right: 0;
    padding: 0 1.5rem;
  }
}
