// Primary
$darkBlue: #2d314d;
$limeGreen: #31d35c;
$brightCyan: #2bb7da;
// Neutral
$grayishBlue: #9698a6;
$lightGrayishBlue: #f3f4f6;
$veryLightGray: #fafafa;
$white: #ffffff;
$gradient: linear-gradient(90deg, $limeGreen 35%, $brightCyan 100%);

$white_HEX: '%23ffffff';
